#chessboard{
    display: flex; 
    flex-direction: column;
    
}
.box{
    height : 100px ; 
    width : 100px ; 
    border : 1px solid black;
}

.row{
    display: flex;
}

.blue{
    background-color: blue !important;
}